<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="banner-div">
        <img src="../static/images/project2 images/qis_banner.png" alt="noImg">
    </div>

    <div class="view-div">
        <table border="2">
            <thead>
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Phone Number</td>
                <td>Percentage</td>
                <td>Rank</td>
                <td>Course</td>
                <td>Address</td>
            </thead>
            <tbody>
                {% for user in output %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.percentage}}</td>
                        <td>{{user.rank}}</td>
                        <td>{{user.course}}</td>
                        <td>{{user.address}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>